body {
  font-family: Arial, sans-serif;
  background-color: #B8E2DB;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

h1, h2 {
  padding-top: 20px;
}

ol {
  list-style: lower-roman;
}

.ingredients-list {
  list-style: square inside;

}

.hamburger-dropdown {
  display: none;
  width: 50px;
  height: 50px;
  background-image: url(./burger.png);
  background-size: contain;
}

.hamburger-dropdown ul {
  display: none;
}

aside {
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}

section {
  display: inline-block;
}

aside ul li, .instructions-list li {
  margin: 15px 0px;
}


header > img {
  width: 100px;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

input:last-child {
  background-color: gold;
  padding: 10px;
  margin: 15px 0px;
}

input:last-child:hover {
  -webkit-filter: brightness(90%);
}

.instructions-list li:nth-of-type(2n) {
  background-color: whitesmoke;
}

h2 + .user_review {
  border-top: 1px solid black;
}

input[type="text"], select, textarea {
  display: block;
  width: 400px;
  margin: 15px 0px;
}


input[type="radio"] {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-image: url(./stars.png);
  vertical-align: bottom;
}


input[type="radio"]:checked {
  background-position: 0px 30px;
}

.group:after {
  display: block;
  clear: both;
  content: "";

}

header img {
  display: block;
  float: left;
}

header nav {
  display: block;
  float: right;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  padding: 20px;
  display: inherit;
}

footer p {
  text-align: center;
}
